### Compile twitter and 538 polling data on Joe Biden 
want to compile by the enddate in polling data to tweet date in twitter data

In [1]:
import pandas as pd

Note: retweets all have RT at the start of their twt_texts, but also a twt_favct of 0 (this is universally true)

In [44]:
polling_df = pd.read_csv('data/approval_topline.csv')
polling_df.set_index('modeldate', inplace=True)
# access like - polling_df['']

twitter_df = pd.read_csv('data/twitter_data.csv')

# want to change the twitter dates to be same format as polling dates

twitter_df['modeldate'] = twitter_df['modeldate'].map(lambda date: 
                                                        # cast to integer then back to string to get rid of potential 0's in number
                                                        str(int(date.split("-", 2)[1].partition('-')[0])) + '/' +
                                                        date.split("-", 3)[2].partition(' ')[0] + '/' + 
                                                        date.partition('-')[0])
twitter_df.set_index('modeldate', inplace=True)

Visualize some data

In [45]:
twitter_df.head()

,Unnamed: 0,text,retweet_count,favorite_count
modeldate,,,,
4/24/2021,0,Let’s close the digital divide once and for al...,1771,13735
4/23/2021,1,Heading back to Georgia with @DrBiden next Thu...,3704,47202
4/22/2021,2,"RT @WhiteHouse: Before taking office, Presiden...",2386,0
4/22/2021,3,RT @POTUS: America is back. We rejoined the Pa...,18090,0
4/21/2021,4,RT @POTUS: The guilty verdict does not bring b...,3814,0

In [46]:
polling_df.head()

,president,subgroup,approve_estimate,approve_hi,approve_lo,disapprove_estimate,disapprove_hi,disapprove_lo,timestamp
modeldate,,,,,,,,,
4/23/2021,Joseph R. Biden Jr.,Voters,54.322518,59.948448,48.696589,40.641015,45.994519,35.287512,18:01:08 23 Apr 2021
4/23/2021,Joseph R. Biden Jr.,Adults,53.173693,58.356746,47.990639,38.856646,43.030728,34.682564,18:01:07 23 Apr 2021
4/23/2021,Joseph R. Biden Jr.,All polls,53.751111,59.197102,48.305121,39.913626,45.088861,34.738391,18:01:06 23 Apr 2021
4/22/2021,Joseph R. Biden Jr.,All polls,53.266932,58.628734,47.905131,40.234692,45.676924,34.792459,21:22:09 22 Apr 2021
4/22/2021,Joseph R. Biden Jr.,Adults,52.974175,58.188145,47.760206,38.880573,43.101932,34.659215,21:22:10 22 Apr 2021

combine the dataframes on date! use inner join on modeldate

In [58]:
final_df = pd.merge(twitter_df, polling_df, on="modeldate")
final_df.head()

,Unnamed: 0,text,retweet_count,favorite_count,president,subgroup,approve_estimate,approve_hi,approve_lo,disapprove_estimate,disapprove_hi,disapprove_lo,timestamp
modeldate,,,,,,,,,,,,,
4/23/2021,1,Heading back to Georgia with @DrBiden next Thu...,3704,47202,Joseph R. Biden Jr.,Voters,54.322518,59.948448,48.696589,40.641015,45.994519,35.287512,18:01:08 23 Apr 2021
4/23/2021,1,Heading back to Georgia with @DrBiden next Thu...,3704,47202,Joseph R. Biden Jr.,Adults,53.173693,58.356746,47.990639,38.856646,43.030728,34.682564,18:01:07 23 Apr 2021
4/23/2021,1,Heading back to Georgia with @DrBiden next Thu...,3704,47202,Joseph R. Biden Jr.,All polls,53.751111,59.197102,48.305121,39.913626,45.088861,34.738391,18:01:06 23 Apr 2021
4/22/2021,2,"RT @WhiteHouse: Before taking office, Presiden...",2386,0,Joseph R. Biden Jr.,All polls,53.266932,58.628734,47.905131,40.234692,45.676924,34.792459,21:22:09 22 Apr 2021
4/22/2021,2,"RT @WhiteHouse: Before taking office, Presiden...",2386,0,Joseph R. Biden Jr.,Adults,52.974175,58.188145,47.760206,38.880573,43.101932,34.659215,21:22:10 22 Apr 2021

clean up time!!

In [59]:
# delete columns I don't care for, just using the estimates
final_df.drop(['president', 'timestamp', 'approve_hi', 'approve_lo', 'disapprove_hi', 'disapprove_lo'], axis=1, inplace=True)
final_df.head()

,Unnamed: 0,text,retweet_count,favorite_count,subgroup,approve_estimate,disapprove_estimate
modeldate,,,,,,,
4/23/2021,1,Heading back to Georgia with @DrBiden next Thu...,3704,47202,Voters,54.322518,40.641015
4/23/2021,1,Heading back to Georgia with @DrBiden next Thu...,3704,47202,Adults,53.173693,38.856646
4/23/2021,1,Heading back to Georgia with @DrBiden next Thu...,3704,47202,All polls,53.751111,39.913626
4/22/2021,2,"RT @WhiteHouse: Before taking office, Presiden...",2386,0,All polls,53.266932,40.234692
4/22/2021,2,"RT @WhiteHouse: Before taking office, Presiden...",2386,0,Adults,52.974175,38.880573

In [60]:
# only want data points where subgroup is = All polls, then we can delete subgroup
final_df = final_df[final_df['subgroup'] == "All polls"]
final_df.drop('subgroup', axis=1, inplace=True)
final_df.head()

,Unnamed: 0,text,retweet_count,favorite_count,approve_estimate,disapprove_estimate
modeldate,,,,,,
4/23/2021,1,Heading back to Georgia with @DrBiden next Thu...,3704,47202,53.751111,39.913626
4/22/2021,2,"RT @WhiteHouse: Before taking office, Presiden...",2386,0,53.266932,40.234692
4/22/2021,3,RT @POTUS: America is back. We rejoined the Pa...,18090,0,53.266932,40.234692
4/21/2021,4,RT @POTUS: The guilty verdict does not bring b...,3814,0,53.431994,40.051306
4/20/2021,5,"RT @POTUS: Today, a jury in Minnesota found fo...",8597,0,53.455244,40.625908

In [61]:
final_df.to_csv('data/twitter_poll.csv')